.header {
     background-image: url(/images/bg-header-desktop.svg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center center;
     height: 156px;
     background-color: $DesaturatedDarkCyan;
     position: relative;
}